// ===== Your colors (unchanged) =====
$nav-green: #059669;
$dark-green: #006D33;
$gradient-green: #1FAF5A;
$light-green: #D1FAE5;
$purple: #4F00D0;
$light-purple: #E8DEFF;

// ===== Import Bootstrap =====
@import "../node_modules/bootstrap/scss/bootstrap";

// ===== Custom classes =====

// Text colors
.text-nav-green {  // highlighted tab in a lighter shade of green
  color: $nav-green;
}

.text-green {   // normal dark green text
  color: $dark-green;
}

.text-purple {  // normal dark purple text
  color: $purple;
}

// Background colors
.bg-light-green {   // light green background for any component
  background-color: $light-green;
}

.bg-light-purple {  // light purple background for any component
  background-color: $light-purple;
}

.bg-dark-green {  // dark green background for any component
  background-color: $dark-green;
}

.bg-dark-purple {      // dark purple background for any conponent
  background-color: $purple;
}

// Buttons

.btn {
    border-radius: 9999px;
    font-weight: 500;
    transition: .2s;
}

.btn:hover{
    transform: scale(1.06);
}

.btn:focus {
    outline: none;
    color: white;
    border: none;
}

.green-btn {
    background: linear-gradient(to right, $dark-green, $gradient-green);
    color: #fff;
}

.green-btn:hover{
    color: #fff;
}

.solid-green-btn {
    background: $dark-green;
    color: #fff;  
}

.solid-green-btn:hover {
    background-color: $light-green;
    color: $dark-green;
}

.light-green-btn {  // for settings side bar
    color: $dark-green;
    background: $light-green;
}
.light-green-btn:hover{
    background-color: $light-green;
    color: $dark-green;
}

.dark-purple-btn { // e.g., download receipt button
    color: white;
    background: $purple;
}
.dark-purple-btn:hover {
    color: $purple;
    background-color: $light-purple;
}

.light-purple-btn {
    color: $purple;
    background-color: $light-purple;
}
.light-purple-btn:hover {
    color: $purple;
    background-color: $light-purple;
}