@media (max-width: 768px) {
  .rounded-sm {
    border-radius: 0; /* reset all */

    border-radius: 1rem;
  }
  .rounded-top-left{
    border-radius: 0; /* reset all */

    border-top-left-radius: 1rem;
  }
  .rounded-bottom-left {
    border-radius: 0; /* reset all */

    border-bottom-left-radius: 1rem;
  }
}